*{
box-sizing: border-box;
}
.body{
padding: 0;
font-family: "Helvetica Neue", Helvetica Arial, sans-serif;
color: #444;
}
.header{
background-color: deepskyblue;
border-style: double;
}
.navbar{
overflow: hidden;
background-color: cyan;
border-style: double;
}
.navbar a{
display: block;
float: left;
color: black;
text-align: center;
padding: 14px 20px;
text-decoration: none;
}
.navbar a:hover{
background-color: ghostwhite;
color: black;
}
.drop{
background-color: deepskyblue;
color: black;
padding: 10px;
font-size: 20px;
border: solid;
cursor: pointer;
}
.drop:hover, .drop:focus{
background-color: deepskyblue;
}
.dropdown{
position: relative;
display: inline-block;
}
.dropdown-event{
display: none;
position: absolute;
background-color: gray;
min-width: 95px;
border: solid;
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
z-index: 1;
}
.dropdown-event a{
color: black;
padding: 12px;
text-decoration: none;
display: block;
}
.show{
display: block;
}
table, tr, td{
border-color: blue;
border-style: solid;
border-collapse: collapse;
}
.body{
padding: 10px;
}
.search{
float: right;
padding: 10px;
font-size: 20px;
}
@media screen and (max-width: 700px) {
  row {
    flex-direction: column;
  }
}
@media screen and (max-width: 400px) {
  navbar a {
    float: none;
    width: 100%;
  }
}
