*{
box-sizing: border-box;
}
.body{
padding: 0;
font-family: "Helvetica Neue", Helvetica Arial, sans-serif;
color: #444;
}
.header{
background-color: deepskyblue;
border-style: double;
}
.navbar{
overflow: hidden;
background-color: cyan;
border-style: double;
}
.navbar a{
display: block;
float: left;
color: black;
text-align: center;
padding: 14px 20px;
text-decoration: none;
}
.navbar a:hover{
background-color: ghostwhite;
color: black;
}
@media screen and (max-width: 700px) {
  row {
    flex-direction: column;
  }
}
@media screen and (max-width: 400px) {
  navbar a {
    float: none;
    width: 100%;
  }
}